body {
    font-family: Arial, sans-serif;
    background: url('../assets/florestafundo.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da página */
}

.container {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-form label {
    font-weight: bold;
}

.filter-form input,
.filter-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-form button {
    padding: 10px 15px;
    background-color: red; /* Alterado para vermelho */
    color: white; /* Fonte branca */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Texto em maiúsculas */
}

.filter-form button:hover {
    background-color: darkred; /* Alterado para vermelho escuro */
    color: white; /* Garante que a fonte continue branca */
}

button, .btn-red {
    padding: 10px 15px;
    background-color: red; /* Fundo vermelho */
    color: white; /* Fonte branca */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Texto em maiúsculas */
}

button:hover, .btn-red:hover {
    background-color: darkred; /* Fundo vermelho escuro ao passar o mouse */
    color: white; /* Garante que a fonte continue branca */
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.pokemon-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.pokemon-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.pokemon-card p {
    margin: 5px 0;
    color: #666;
}

header {
    background-color: red;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    gap: 15px;
}

header .nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

header .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
