/* styles for index.php */
/* Unificado com o conteúdo de index.css */
body {
    background: url('../assets/florestafundo.jpg') no-repeat center center fixed; /* Corrigido o caminho */
    background-size: cover;
    backdrop-filter: blur(5px);
    color: white;
}

.btn-primary {
    background-color: red;
    border-color: red;
}
.btn-primary:hover {
    background-color: darkred;
    border-color: darkred;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5em;
    color: #ff6600;
}

.card-text {
    color: #666;
}

.btn-danger {
    background-color: red;
    border-color: red;
    color: white;
}

.btn-danger:hover {
    background-color: darkred;
    border-color: darkred;
    color: white;
}

h1.text-center {
    color: white; /* Define a cor do título como branco */
}